<h4>
    Your email has been confirmed. Your registration is under review and approval process. You will be notified by email once your registration is approved. If it has already been approved, please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
</h4>