<p>
    <h4>
        Thank you for your registration. A confirmation has been sent to your registered email address. In order to complete your registration, please check your email and confirm your registration by clicking the link in it.
    </h4>
</p>
<p>
    <h4>
        A notification email has also been sent to system admin. Your adviser will review your registration and approve it. You will be notified by email when your registration is approved.
    </h4>
</p>

