@model StephenZeng.MvcTemplate.Web.Models.ForgotPasswordViewModel

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>
        Please submit your registered email. A link for resetting your password will be sent to it.
    </h4>
    <br/>

    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-1 control-label" })
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email, "", new {@Class = "text-danger"})
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-1 col-md-10">
            <input type="submit" class="btn btn-default" value="Submit" />
        </div>
    </div>
}
